brotlipy==0.7.0
ConfigParser==6.0.0
cryptography==41.0.2
Cython==3.0.2
dl==0.1.0
docutils==0.20.1
Flask==2.3.3
Flask_Login==0.6.2
flask_sqlalchemy==3.0.5
Flask_WTF==1.1.1
HTMLParser==0.0.2
imageio==2.31.2
importlib_metadata==6.0.0
ipaddr==2.2.0
keyring==24.2.0
lockfile==0.12.2
lxml==4.9.2
mypy_extensions==1.0.0
numpy==1.24.4
ordereddict==1.1
protobuf==4.24.2
pyOpenSSL==23.2.0
pyOpenSSL==23.2.0
typing_extensions==4.7.1
Werkzeug==2.3.7
wincertstore==0.2
WTForms==3.0.1
zipp==3.11.0
gunicorn==23.0
